textarea {
    height: auto;
}

.postbox {
	background-color: #F5F5F5;
}

.postbox i {
	font-size: 6em;
	color: darkgrey;
}

.postbox i:hover {
	color: dimgrey;
}

.postbox input[type=radio] {
	display: none;
}

.postbox .fi-share, .postbox .fi-share:hover {
	color: #427FED;
}

.postbox .fi-x {
	color: lightgrey;
}

.pointer {
    cursor: pointer;
}

.topbar {
	background-image: url('../topbar.png');
	background-size: 100%;
	color: dimgrey;
	height: 4em;
	overflow: hidden;
}

.topbar i {
	font-size: 4em;
	color: #293E6A;
}

.topbar .left {
	background-color: whitesmoke;
	font-size: 4em;
	opacity: 0.6;
}

.topbar .right {
	background-color: whitesmoke;
	color: black;
	opacity: 0.6;
}

.topbar .right img {
	height: 4em;
}

.topbar .right span {
	margin: 0.2em;
	opacity: 1.0;
}
