textarea {
    height: auto;
}

.postbox {
	padding: 0.5em, 0.5em;
	background-color: #F5F5F5;
}

.postbox i {
	font-size: 6em;
	color: darkgrey;
}

.postbox i:hover {
	color: dimgrey;
}

.postbox input[type=radio] {
	display: none;
}

.postbox .fi-share, .postbox .fi-share:hover {
	color: #427FED;
}

.postbox .fi-x {
	color: lightgrey;
}
