<div class="small-12 columns">
  <h3 ng-hide="plugged">
	<blockquote>“The truth is, everyone is going to hurt you. You just got to find the ones worth suffering for.”<cite>Bob Marley</cite></blockquote>
  </h3>
  <form ng-show="plugged">
	<div class="row" style="text-align: center"><div class="small-12 columns">
		<ul class="small-block-grid-4">
		  <li ng-repeat="pt in postTypes">
			<input type="radio" name="postType" ng-model="$parent.postType" id="{{pt}}" value="{{pt}}"></input>
			<label for="{{pt}}"><i class="{{postData[pt].name}}" ng-style="postStyle('{{pt}}')"></i></label>
		  </li>
		</ul>
	</div></div>
	<div class="row" ng-show="postType != ''"><div class="small-12 columns">
		<textarea rows="10" ng-model="fields.text"></textarea>
	</div></div>
	<div class="row collapse" ng-show="postType != '' && postType != 'Text'">
      <div class="small-12 columns">
		<input type="text" placeholder="http://" ng-show="show('Link')" ng-model="fields.Link"></input>
		<div flow-init>
		  <div class="thumbnail" ng-hide="$flow.files.length">
			<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
		  </div>
		  <div class="thumbnail" ng-show="$flow.files.length">
			<img flow-img="$flow.files[0]" />
		  </div>
		  <a href="#" class="button" ng-hide="$flow.files.length" flow-btn>Select image</a>
		  <a href="#" class="button" ng-show="$flow.files.length" flow-btn>Change</a>
		  <a href="#" class="button" ng-show="$flow.files.length"
			 ng-click="$flow.cancel()">
			Remove
		  </a>
		</div>
      </div>
	</div>
	<div class="row" style="text-align:center" ng-show="postType != ''">
		<div class="small-3 small-offset-3 columns">
		  <i class="fi-share pointer" ng-click="click()"></i>
		</div>
		<div class="small-3 end columns">
		  <i class="fi-x pointer" ng-click="postType=''"></i>
		</div>
	</div>
  </form>
</div>
